<section class="page-width" style="padding: 2rem 0;">
  <h1>{{ order.name }}</h1>
  <p>{{ order.created_at | date: format: 'abbreviated_date' }}</p>

  {%- for line_item in order.line_items -%}
    <article>
      <p>{{ line_item.title }} x {{ line_item.quantity }}</p>
      <p>{{ line_item.final_line_price | money }}</p>
    </article>
  {%- endfor -%}
</section>

{% schema %}
{
  "name": "Main order",
  "settings": []
}
{% endschema %}
